*.sdf
*.obj
*.log
*.suo
*.pdb
*.pch
*.cdf
*.cache
*.ilk
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.exp
*.idb
*.rep
*.xdc
*_manifest.rc
*.bsc
*.sbr
*.xml
*.metagen
*.bi